<%- include('header') %>
<nav class="px-8 py-2 flex justify-between items-center">
    <h3 class="text-lg text-zinc-500 font-semibold">Khatabook</h3>
    <div class="flex gap-5 text-zinc-500 font-semibold">
        <a href="/">Home</a>
        <a href="/create">Create New Hisaab</a>
    </div>
</nav>
<%- include('footer') %>